<!DOCTYPE html>
<html>
  <head>
    <title>CenPoint Web Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <img src="CPcircle.png" alt="CenPoint Logo">
      <div>{{ message }}</div>

      <div>Sort By Done</div>
      <select @change="sortToDo" v-model="doneSortDir">
        <option value="ASC">Not Done</option>
        <option value="DESC">Done</option>
      </select>

      <br><br>


      <div v-for="oCat in aCats">
        {{ oCat.name }}

        <div v-for="oToDo in aToDo.filter(x => x.cat == oCat.catid)">
          <input type="checkbox" v-model="oToDo.done">
          {{ oToDo.text }}
        </div>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: '#app',
        data: {
          message: 'Welcome to your to do list. Please do it!',
          aToDo: [],
          aCats: [
            { catid: 1, name: 'High Priority'},
            { catid: 2, name: "Can't Forget"},
            { catid: 3, name: 'If I Have Time'},
          ],
          doneSortDir: 'ASC',
        },

        created(){
            this.aToDo = localStorage.getItem('toDo');
            if (!this.aToDo){
                this.aToDo = [
                    {id: 1, text: 'Learn JavaScript', done: false, cat: 1 },
                    {id: 2, text: 'Learn CSS', done: false, cat: 2 },
                    {id: 3, text: 'Build something awesome', done: true, cat: 2 }
                ];
                localStorage.setItem('toDo', JSON.stringify(this.aToDo));
            } else {
                this.aToDo = JSON.parse(this.aToDo);
            }

            this.sortToDo();
        }, // created


        methods: {
          sortToDo() {
            if (this.doneSortDir == 'ASC'){
              this.aToDo = this.aToDo.sort((obj1, obj2) => { return (obj1.done > obj2.done ? 1 : obj1.done < obj2.done ? -1 : 0) });
            } else {
              this.aToDo = this.aToDo.sort((obj1, obj2) => { return (obj1.done < obj2.done ? 1 : obj1.done > obj2.done ? -1 : 0) });
            }
          },

          otherCoolMethod() {
            console.log('I am a cool method');
          },
        }, // methods
      });

    </script>
  </body>
</html>
